body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* header */
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: #2e2f42;
}
.header-nav-a {
  color: #2e2f42;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-nav-a:hover,
.header-nav-a:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.adress-a {
  color: #434455;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-a:hover,
.adress-a:focus {
  color: #404bbf;
}
/* hearo */
.hearo-img {
  background: #2e2f42;
}
.hearo-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hearo-button {
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.hearo-button:hover,
.hearo-button:focus {
  background-color: #404bbf;
}

/* feature */
.feature-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* our team */
.section-team {
  background-color: #f4f4fd;
}
.team-h2 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-li {
  background-color: #ffffff;
}
.team-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.team-p {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* base */
.footer {
  background-color: #2e2f42;
}
.logo-bottom {
  text-transform: uppercase;
  font-family: "Relaway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
